body{
    background-color: rgb(54, 43, 72);
    color: rgb(254, 246, 255);
}

select{
    background-color: rgb(54, 43, 72);
    border: 1px solid rgb(54, 43, 72);
    color : rgb(254, 246, 255);
    position: absolute; 
    top: 0;
    margin-top: 15px;
    margin-right: 15px; 
    right: 0; 
    width: 200px; 
    text-align:right;
    font: 15px cursive;
    display: "Dark Mode";
}
  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}