:root {
    --main-bg-color: rgb(39,40,34);
    --main-text-color: rgb(203, 32, 94);
    --footer-color: #1c1b1f;
    --transparent-bg-color: rgba(39,40,34,0.6);
}

:root.dark-mode {
    --main-bg-color: rgb(54, 43, 72);
    --main-text-color: rgb(254, 246, 255);
    --footer-color: #1c1b1f;
    --transparent-bg-color: rgba(54, 43, 72,0.6);
}

:root.midnight-mode {
    --main-bg-color: rgb(0,0,0);
    --main-text-color: rgb(126, 58, 206);
    --footer-color: #1c1b1f;
    --transparent-bg-color: rgba(0,0,0,0.6);
}

:root.light-mode {
    --main-bg-color: rgb(242,243,245);
    --main-text-color: rgb(76, 78, 83);
    --footer-color: #1c1b1f;
    --transparent-bg-color: rgba(242,243,245,0.6);
}

body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

select{
    background-color: var(--transparent-bg-color);
    border: 2.4px solid var(--transparent-bg-color);
    color : var(--main-text-color);
    position: absolute; 
    top: 0;
    margin-top: 15px;
    margin-right: 15px; 
    right: 0; 
    width: 137.5px; 
    text-align:right;
    font: 17.5px "Times New Roman", serif;;
    display: "Dark Mode";
}
  
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#pfp {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

#pfp:hover {
    transform: scale(1.05);
}